* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    margin: 0;
}

nav {
    display: flex;
    position: fixed;
    width: 100vw;
    height: 100px;
    background-color: white;
    box-shadow: 0px 0px 20px 7px rgba(0,0,0,0.15);
    align-items: center;
    padding-inline: 3rem;
}

.i {
    font-style: italic;
}

.b {
    font-weight: bold;
}

.sim {
    display: flex;
}

.sim > iframe {
    display: flex;
    width: 100vw;
    align-items: center;
    border: 1px solid black;
}

.container {
    display: flex;
    padding-top: 9rem;
    flex-direction: column;
    align-items: center;
}

.page-header {
    padding-inline: 10rem;
    padding-block: 3rem;
    width: 60vw;
    background-image: url('./images/bg-header.jpeg');
    background-color: rgba(255,255,255, 0.9);
    background-blend-mode: lighten;
}

.page-header > .title {
    /* border: 1px solid black; */
    text-align: center;
    font-size: 2.7rem;
    margin-block: 0.5rem;
}

.page-header > .author {
    margin-block: 1rem;
    text-align: center;
    font-size: 0.9rem;
    font-weight: 500;
}

.sect {
    /* border: 1px solid black; */
    padding: 0;
    margin-block: 2.2rem;
    width: 60vw;
}

.section-title {
    margin: 0;
    /* text-align: center; */
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.sect > ul {
    line-height: 2.2rem;
    font-size: 0.9rem;
}

hr {
    margin-block: 2rem;
    width: 50vw;
}

.mrsa-info {
    width: 60vw;
    margin-top: 2rem;
}

p {
    margin: 0;
    font-size: 1rem;
    font-weight: 500rem;
    line-height: 2.2rem;
    text-align: justify;
}